body {
  background-color: rgb(173, 173, 173);
}

.menu{
  color: black;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif
}

.title{
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 5px 2px 10px rgba(0, 3, 182, 0.5);
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
}

#contenedor p {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

.sinonimo {
  color: rgb(0, 0, 255);
  font-weight: bold;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}
.aclaración {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-style: italic;
  font-family: arial;
}

.aclaración1 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-style: italic;
  font-family: arial;
  display: flex;
  justify-content: center;
}

.teclaEnter{
  font-weight: bold;
  font-size:45px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fotoEnter{
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./enter.png");
  background-size: cover;
  background-position: center;
}

.respuestaCorrecta {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 1px 1px 1px rgba(18, 182, 0, 0.856);
}

.fotoTick{
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./tick.png");
  background-size: cover;
  background-position: center;
}

.respuestaIncorrecta {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 1px 1px 1px rgba(182, 0, 0, 0.852);
}

.fotoX{
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./X.png");
  background-size: cover;
  background-position: center;
}